llama-cpp-python
langchain
langchain-community
streamlit==1.29.0
streamlit-chat

watchdog
accelerate
sentencepiece
sacremoses
omegaconf
python-slugify
diffusers
invisible_watermark 
safetensors
python-magic
pandas
spacy==3.7.2
faster_whisper
datasets[audio]
torch
torchvision
torchaudio
TTS==0.22.0

stqdm
pypdf
bitsandbytes
sentence_transformers
faiss-cpu
Pillow
openai
progressbar2
deeplake[enterprise]
tiktoken
IPython
bs4
duckduckgo-search
pytube
pytesseract
numexpr