langchain
langchain_community
fastapi
aiohttp
uvicorn[standard]
pillow
diffusers
transformers
torch
python-slugify
pytesseract
accelerate
sentencepiece
nomkl
psutil
gputil
sacremoses
coqui-tts
faster-whisper
bs4
pytube
ffmpeg-python
av